ion-title {
    font-family: monospace;
    font-size: 26px;
    letter-spacing: 1.2px;
}

div {
    p {
        font-family: system-ui;
        font-size: 18px;
        font-weight: 500;
        padding-left: 5px;
        padding-right: 5px;
    }
}