@keyframes loaderAnimation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

:host {
  background-color: white;
  color: black;
}

#loaderCont {
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;

    button {
      position: relative;
      top: calc(70vh);
      width: 118px;
      height: 38px;
      background-color: #4a4a4a;
      font-weight: 600;
      font-size: 17px;
      color: white;
      border-radius: 5px;
    }

    img {
      position: absolute;
      top: calc(50vh - 25vw);
      left: 25%;
    }

    .spinAnimation {
      animation: loaderAnimation 3s infinite;
    }
}

@media only screen and (min-width: 750px) {
  * {
    font-size: larger;
  }
}

#mainCont {
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.morning {
  background-image: url('../../assets/background/background_day.jpg');
  color: black;
}

.night {
  background-image: url('../../assets/background/background_night.jpg');
  color: white;
}