<div *ngIf="!dataLoaded" id="loaderCont">
  <img src="../../assets/loader/loader.svg" [ngClass]="!showRetryBtn ? 'spinAnimation' : ''" alt="Loader Sun" width="50%"/>

  <button type="button" (click)="retry()" *ngIf="showRetryBtn">{{ 'TRY AGAIN' | translate }}</button>
</div>

<div *ngIf="dataLoaded" id="mainCont" [ngClass]="isMorning ? 'morning' : 'night'">
  <app-header 
    [data]="header"
    [time]="settings.time"
    [language]="settings.language"></app-header>

  <app-current 
    [data]="current" 
    [isMorning]="isMorning" 
    [temperature]="settings.temperature"
    [windSpeed]="settings.windSpeed"></app-current>

  <app-hourly 
    [data]="hourly" 
    [isMorning]="isMorning" 
    [temperature]="settings.temperature"
    [time]="settings.time"
    (changeCurrentWeather)="changeCurrentWeather($event)"></app-hourly>

  <app-daily 
    [data]="daily"
    [temperature]="settings.temperature"
    [time]="settings.time"
    [language]="settings.language"></app-daily>
</div>
